@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

html body {
  font-family: 'PT Sans', sans-serif;
  background: #ddd;
}

.nav {
  position: relative;
  margin: 0px;
  background: white;
  color: black;
  font-size: 14px;
  padding: 16px;
  font-weight: lighter;
}

.nav a {
  color: black;
  padding: 16px;
  transition: all 200ms ease-in-out;
  border-right: 1px solid #eee;
}

.nav a:last-child {
  border: none;
}

.nav a:hover {
  text-decoration: none;
  color: gray;
  border-bottom: 3px solid #795548;
}

.nav .nav-brand {
  border: none;
  font-size: 24px;
  font-weight: bolder;
}

.nav .nav-right {
  position: absolute;
  bottom: 18px;
  right: 16px;
}

.nav a.active {
  color: gray;
  border-bottom: 3px solid #795548;
}

.padded-container {
  padding: 5% 15% 5% 15%;
  background: white;
  text-align: center;
}

.padded-container:nth-child(odd) {
  background: rgba(253, 253, 253, 0.95);
}


.padded-container h1,h2,h3,h4,h5,h6 {
  color: #5D4037;
}

.padded-container h3 {
  font-weight: lighter;
}

.padded-container p {
  font-weight: lighter;
}

.padded-container .main-image {
  margin: auto;
  width: auto;
  height: 350px;
}

@media (max-width: 768px) {
  .container {
    margin: 0px;
    padding: 0px;
  }
  .padded-container {
    padding: 5%;
    max-height: 100%;
  }
}

@media (max-width: 992px) {
  .padded-container {
    padding: 5% 2% 5% 2%;
  }
}

.container-white {
  background: white;
  padding: 16px 5% 16px 5%;
  color: #5D4037;
}

.container-off-white {
  background: rgba(253, 253, 253, 0.95);
  padding: 16px 5% 16px 5%;
  color: #5D4037;
}

.banner {
  width: 100%;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loading {
  width: 100%;
  text-align: center;
  font-size: 48px;
  animation: spin 1.5s infinite linear;
}

.btn-round {
  border: none;
  border-radius: 32px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 16px 12px 16px;
  background: #795548;
}

.btn-round:hover {
  text-decoration: none;
  color: white;
  opacity: 0.75;
}

.image-gallery-image {
  height: 500px;
}

.image-gallery-image img {
  max-width: 100%;
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media(max-width: 768px) {
  .image-gallery-image img {
    height: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #5D4037;
}

.form-group {
  text-align: left;
}

.gallery-item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
}

.gallery-item:first-child {
  border-top: 1px solid #eee;
}

.gallery-item.active {
  background: #eee;
}

.gallery-item.active:hover {
  background: #eee;
  cursor: auto;
}

.gallery-item:hover {
  background: rgba(253, 253, 253, 0.95);
  cursor: pointer;
}
