.location-info {
  background: white;
  color: #212121;
  height: 600px;
  width: 100%;
  float: right;
  padding: 16px;
}

.location-map {
  float: left;
  width: 100%;
  background: white;
}

@media (min-width: 1024px) {
  .location-map {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .location-info {
    height: 750px;
  }
  .location-map {
    padding: 16px;
  }
}
