.quote-form {
  padding: 16px;
  padding-top: 0px;
  margin: 16px;
  margin-top: 0px;
}

.quote-loading {
  text-align: center;
  padding-top: 27%;
  padding-bottom: 27%;
}

.quote-success {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 27%;
  padding-bottom: 27%;
}

@keyframes spin-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.quote-checkmark {
  padding-top: 25%;
  padding-bottom: 25%;
  color: #4CAF50;
  font-weight: bolder;
  font-size: 48px;
  animation: spin-in 500ms 1 ease-in-out;
}

.quote-container {
  padding-top: 5%;
}

@media (max-width: 768px) {
  .quote-container {
    padding-top: 10%;
    padding-bottom: 15%;
  }
}

.estimate-container {
  background: #795548;
  width: 100%;
  height: 500px;
  padding: 16px;
  padding-left: 32px;
  color: white;
}

.quote-error {
  color: #FF5252;
  font-weight: bolder;
  font-size: 18px;
}
